
{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
    <div class="auth-modal auth-modal-confirm">
        <h2 class="auth-title">Xác nhận Email</h2>
        <div class="auth-group" style="text-align:center;">
            <p>Chúng tôi đã gửi một email xác nhận đến địa chỉ bạn đăng ký.<br>Vui lòng kiểm tra email và nhấn vào liên kết xác thực để hoàn tất đăng ký.</p>
        </div>
        <div class="auth-bottom">
            <a href="/" class="auth-link"><b>Quay lại trang chủ</b></a>
        </div>
    </div>
</div>
{% endblock %}
