
{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
    <div class="auth-modal auth-modal-confirm">
        <h2 class="auth-title">Email Confirmation</h2>
        <div class="auth-group" style="text-align:center;">
            <p>We have sent a confirmation email to your registered address.<br>Please check your email and click the verification link to complete registration.</p>
        </div>
        <div class="auth-bottom">
            <a href="/" class="auth-link"><b>Back to homepage</b></a>
        </div>
    </div>
</div>
{% endblock %}
