
{% extends 'base.html' %}
{% block content %}
    <div class="login-fullscreen-wrapper">
        <form method="POST" action="/login" class="login-fullscreen-form">
            <h2 class="auth-title">Login</h2>
            <div class="auth-group">
                <label for="email">Email</label>
                <div class="auth-input-wrap">
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                    <span class="auth-icon"><i class="fa fa-envelope"></i></span>
                </div>
            </div>
            <div class="auth-group">
                <label for="password">Password</label>
                <div class="auth-input-wrap">
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                    <span class="auth-icon"><i class="fa fa-lock"></i></span>
                </div>
            </div>
            <div class="auth-row">
                <label class="auth-remember">
                    <input type="checkbox" name="remember"> Remember me
                </label>
                <a href="/forgot-password" class="auth-link">Forgot password?</a>
            </div>
            <button type="submit" class="auth-btn">Login</button>
            <div class="auth-bottom">
                Don't have an account? <a href="/register" class="auth-link"><b>Register</b></a>
            </div>
        </form>
    </div>
{% endblock %}
