<nav class="main-navbar">
    <div class="container-navbar">
        <a href="{{ url_for('customer.home') }}" class="navbar-logo">Sport Slot</a>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('customer.home') }}">Home</a></li>
            <li><a href="{{ url_for('customer.search') }}">Court List</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <a href="{{ url_for('auth.login') }}" class="btn-navbar-login">Login</a>
    </div>
</nav>
