{% extends 'layout.html' %}
{% block title %}Courts{% endblock %}
{% block content %}
<h2>Available Courts</h2>
<form class="row g-3 mb-3">
  <div class="col-md-4">
    <input type="text" class="form-control" placeholder="Search...">
  </div>
  <div class="col-md-3">
    <select class="form-select">
      <option selected>Sport Type</option>
    </select>
  </div>
  <div class="col-md-3">
    <input type="date" class="form-control">
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary w-100">Filter</button>
  </div>
</form>
<div class="row">
  <div class="col-md-4" *ngFor="court in courts">
    <div class="card mb-4">
      <div class="card-body">
        <h5 class="card-title">Court Name</h5>
        <p class="card-text">Location</p>
        <a href="#" class="btn btn-sm btn-outline-primary">View</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
