<footer class="footer">
    <div class="footer-container">
        <div class="footer-info">
            <span>&copy; 2025 SportSlot. All rights reserved.</span>
            <span>Contact: <a href="mailto:support@sportslot.vn">support@sportslot.vn</a></span>
        </div>
        <div class="footer-social">
            <a href="#" title="Facebook"><img src="{{ url_for('static', filename='images/facebook.png') }}" alt="Facebook" height="24"></a>
            <a href="#" title="Instagram"><img src="{{ url_for('static', filename='images/instagram.png') }}" alt="Instagram" height="24"></a>
            <a href="#" title="YouTube"><img src="{{ url_for('static', filename='images/youtube.png') }}" alt="YouTube" height="24"></a>
        </div>
    </div>
</footer>
