<nav class="navbar">
  <div class="navbar-left">
    <a href="/home" class="logo">Sport<span>Slot</span></a>
  </div>

  <div class="navbar-center">
    <ul class="navbar-menu">
      <li><a href="/home">Trang chủ</a></li>
      <li><a href="#">Danh sách sân</a></li>
      <li><a href="#">Dịch vụ</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
  </div>

  <div class="navbar-right">
    <a href="/login" class="btn-login">Đăng nhập</a>
    <a href="/register" class="btn-register">Đăng ký</a>
  </div>
</nav>
